:root {
    --color-dark:#1E1E1E;
    --color-light: #f0eef6;
    --color-gray: #9e98b3;
    /* --color-primary: #EEB00C; */
    --color-primary:#583BAE;
    --color-secondary: #d6ccff;
    --color-danger: #fb5151;
    --color-black: #161718;
    --color-success: #51fb51;
    --color-white: #ffffff;
    --color-fadewhite: #f8f8f8;
  
    --blue: #007bff;
    --indigo: #3f1288;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #7b59d0;
    --secondary: #f8b195;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #1E1E1E;
  
    --border-radius: 4px;
    --card-border-radius: 5px;
    --btn-padding: 10px 25px;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
  
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
  
    --border-color: #fff;
  
    --font-dmsans: "DM Sans", sans-serif;
    --font-gantari: "Gantari", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-notosans: "Noto Sans", sans-serif;
    --font-nunitosans: "Nunito Sans", sans-serif;
    --font-prompt: "Prompt", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
    --font-rubik: "Rubik Moonrocks", cursive;
    --font-worksans: "Work Sans", sans-serif;
  
    --font-lato: "lato", sans-serif;
    --font-poppins: "poppins", sans-serif;
    --font-ubuntu: "ubuntu", sans-serif;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
  }
  
  body,html{
    color: var(--color-light);
    /* background-color: var(--color-dark); */
    background-color: var(--color-black);
    overflow-x: hidden;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth; 
  }

  button{
    font-family: "Montserrat", sans-serif;
  }

  p{
    margin:20px 0 0 0;
    line-height: 25px;
    font-size: 1em;
    letter-spacing: 0.6px;
  }
  
  /*GENERAL STYLES */
  
  img {
    display: block;
    width: 100%;
  }
  
  .btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: bold;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
  }
  
  /* ----------------------------------------------------------NAVBAR ---------------------------------------*/
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-black);
    color: var(--color-white);
    position: fixed;
    border: 1px solid transparent;
    height: 90px;
    width: 100%;
    z-index: 150;
    top: 0;
  }

  .logoheaders{
     display: flex;
     align-items: center;
     justify-content:space-between;
     border: 1px solid transparent;
  }

  .logoheaders h1{
    font-size: 1.8em;
    margin-left: 30px;
  }
  
  .logo {
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 50px;
    font-weight: bold;
  }
  
  .bars {
    border: 1px solid transparent;
    padding: 2px 10px;
    display: none;
    font-size: 1.6em;
    color: var(--color-white);
    border-radius: 5px;
    
  }

  .darkmode{
    border: 1px solid transparent;
    padding: 2px 10px;
    font-size:2em;
    color: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-dark);
    padding: 15px;
  }

  .darkmode img{
    width:20px;
    height: 20px;
  }
  
  .closebar {
    border: 1px solid transparent;
    padding: 5px 10px;
    display: none;
    font-size: 2.1em;
  }
  
  .primary{
    color: var(--color-primary);
    letter-spacing: 0.5px;
    /* font-family: 'Press Start 2P', cursive; */
    font-size: 0.8em;
    margin-top: 15px;
    /* border: 1px solid red; */
  }
  
  header ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
  }
  header ul {
    border: 1px solid transparent;

  }
  
  header ul li a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: bold;
    font-weight: 1.em;
    text-transform: capitalize;
  }
  
  header ul li a.resume_view {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
  }
  
  header ul li a:hover {
    background-color:transparent;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.4s;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
  }
  
  header ul li a.resume_view:hover {
    background-color:transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);

  }
  
  header ul li.btn:hover {
    transform: scale(1.1);
  }
  
  /* ------------------------------------------------------END OF NAVBAR ---------------------------------------*/



  /* --------------------------------------------------BOX 1 FIRST SECTON-----------------------------------*/

.box1 {
  margin-top:90px ;
  padding: 20px 0 100px 0;
  background-color: var(--color-dark);
  border: 1px solid transparent;
  
}

.first-box-container {
  display: flex;
  border: 1px solid transparent;
  margin: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
}

.first-box {
  margin: 50px;
  width: 50%;
  padding: 30px;
  border: 1px solid transparent;
}

.box1 h3 {
  font-size: 1.1em;
  font-weight: bold;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5px;
  border: 1px solid transparent;
  width: 30%;
  padding: 10px 30px;
  border-radius: 30px;
  /* color: white; */
  font-family: "Montserrat", sans-serif;
}

.box1 h2{
  font-size:1em;
  /* color:#EFE9FF; */
  font-family: 'Press Start 2P', cursive;
}  

.first-box p {
  /* color: var(--color-white); */
  font-weight: light;
  text-indent: 5px;
  text-align: justify;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.9px;
  line-height: 25px;
  margin: 5px;
  font-size: 1em;
  
}

.first-box button {
  margin: 20px 0 0 0;
  border: unset;
  background: unset;
}

.first-box .button-box{
  display: flex;
  border: 1px solid transparent;
  justify-content: start;
  width: 100%;
  height:100px;
}

.first-box a {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 30px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin: 10px;
  text-decoration: none;
}
.first-box a:hover {
  background-color: unset;
  border: 2px solid var(--color-primary);
  /* color: var(--color-white); */
  transition: 0.4s;
}

.image-box{
   border: 1px solid transparent;
   width: 50%;
   /* height: 300px; */
   padding:5px;
   position: relative;
}

.swiper-box{
  border: 1px solid transparent;
  display: flex;
  position: relative;
  flex-direction: column;
   justify-content:center;
  align-items: center;
}

.first-box-container .image-box .swiper-box .swiper-slide img {
  margin: 10px;
  width:100%;
  object-fit: contain;
  padding: 0;
  height:400px;
  border: 1px solid transparent;
  animation-name: fa-shake;
}

 #slidea{
  width: 300px;
 
} 

/* #slideb{
  width: 300px;
} 

#slidec{
  width: 300px;
}  */

/* .swiper-slide img:first-of-type{
  margin: -20px 0 0 0;
} */

/* --------------------------------------------------BOX 2 SECOND SECTION-----------------------------------*/

.box2 {
  padding: 150px 0 100px 0;
  background-image: url("../images/penguinbg.png");
  background-repeat:space;
   background-blend-mode: darken;
  background-color: rgb(0,0,0 ,.65);
 /* filter: brightness(50%); */
  background-attachment:scroll;
}

.second-box-container {
  display: flex;
  border: 1px solid transparent;
  margin: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
}

.second-box {
  margin: 50px;
  width: 50%;
  padding: 30px;
  border: 1px solid transparent;
}

.box2 h3 {
  font-size:1.4em;
  font-weight: bold;
  align-items: start;
  text-align: start;
  display: flex;
  justify-content: start;
  border: 1px solid transparent;
  width: 100%;
  border-radius: 30px;
  color: white;
  
}

.box2 h3 .primary{
  color: var(--color-primary);
}

.box2 h1{
  font-size:2.5em;
  font-family: 'Press Start 2P', cursive;
}

h3.font{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2em;
}

.second-box p {
  color: var(--color-white);
  font-weight: light;
  text-align: justify;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.9px;
  line-height: 25px;
  font-size: 1em;
  margin: 10px 0 0 0;
  border: 1px solid transparent;
}

.second-box .button-box{
  display: flex;
  justify-content:left;
  align-items: start;
  border: 1px solid transparent;
  
}

.second-box button {
  margin:15px 0 0 -10px;
  border: unset;
  background: unset;
  gap: 10px;
}

.second-box a {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 30px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin: 10px;
  text-decoration: none;
}
.second-box a:hover {
  background-color: unset;
  border: 2px solid var(--color-primary);
  color: var(--color-white);
  transition: 0.4s;
}

.author-box{
   border: 1px solid transparent;
   width: 50%;
   display: flex;
   padding:10px;
   justify-content: center;
   align-items: center;
}

.author-container{
  border: 1px solid transparent;
  border-radius: 20px;
  /* position: absolute; */
}

#transitiona{  
  border-radius: 26.1747px;
  z-index:3;
  transition: .5;
  transform: rotate(-15deg);
}

#transitionb{
border-radius: 26.1747px;
transform: rotate(15deg);
z-index: 2;
transition: .5;
}

#transitionc{
border-radius: 26.1747px;
z-index: 1;
transition: .5;
}


.second-box-container .author-box img {
  margin: 10px;
  width:100%;
  object-fit: contain;
  padding: 0;
  height:400px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-blend-mode: darken;
  background-color: rgb(0,0,0 ,.65);

}


/* --------------------------------------------------TEAM MEET UP-----------------------------------*/

.team-container {
  padding: 100px 0 150px 0;
  border: 1px solid transparent;
  margin:0 0 0 0;
  border-radius: 4px;
  margin: 20px auto 10px;
}

.team-container h3 {
  text-align: center;
  margin: 20px 0 0 10px;
  color: var(--color-primary);
  font-size: 2.2em;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 60px;
}

.before {
  margin: 20px auto 10px;
  border: 1px solid transparent;
  width: 40%;
}

.or {
  text-align: center;
  display: flex;
  /* color: white; */
  font-size: 1rem;
  border: 1px solid transparent;
  font-weight: bold;
}

.or:before,
.or:after {
  /* border-bottom: 1px solid #cecece; */
  margin: 10px;
  content: " ";
  width: 80%;
  flex: 10%;
}

.team-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.team-card {
  background-color: #262626;
  width: 45%;
  border: 1px solid transparent;
  box-shadow: 0 0 10px transparent;
  border-radius: 25px;
  margin: 20px;
  display: flex;
  padding:10px;
  justify-content: space-between;
}

.team-first {
  width: 40%;
  margin: 0 0 0 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding:25px;
}

.team-first img{
  border-radius: 15px;
  height:230px;
}



.team-item-content{
  width:70%;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 30px;
}

.team-author{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.team-author h4{
  font-family: 'Press Start 2P', cursive;
}

.team-item-content p{
  margin-top:30px;
  /* color: white; */
  line-height: 25px;
  font-size: 1em;
}  

.team-author p{
  margin-top: 10px;
}

/* div.team-title {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}

.team-location {
  font-size: 1em;
  color: var(--color-primary);
  font-weight: bold;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}

.team-location i {
  color: var(--color-primary);
  font-size: 1.2em;
} */



/* --------------------------------------------------FREQUENTLY ASKED QUESTIONS -----------------------------------*/

.faq-container {
  padding:100px 0 100px 0;
  border-top: 1px solid #272829;
  margin: 30px 0 0 0;
  border-radius: 4px;
}

.faq-container h3 {
  text-align: center;
  color: var(--color-primary);
  font-size: 1.9em;
  font-family: 'Press Start 2P', cursive;
}

.showbtn{
  text-align: center;
  background-color: var(--color-primary);
  color: white;
  padding: 10px 30px;
  border-radius:30px;
}

/*  
faq-container .or{
  text-align: center;
  display: flex;
  color: white;
  font-size: 1rem;
  border: 1px solid transparent;
  font-weight: bold;
}
*/

.faq-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url("../images/penguinbg.png");
  background-repeat:space;
  background-blend-mode: darken;
  background-color: rgb(0,0,0 ,.65);
  /* filter: brightness(50%); */
  width:100%;
  margin:30px auto;
  padding: 100px 0 50px 0;
}

.faq-card {
  width: 30%;
  border: 1px solid transparent;
  box-shadow: 0 0 10px transparent;
  border-radius:20px;
  margin: 30px 0 0 30px;
  display: flex;
  flex-direction: column;
  padding:30px;
  background-color: #262626;
  justify-content: space-between;
  align-items: start;
  color: white;
}

.faq-card-header{
  display: flex;
  color: white;
  border: 1px solid transparent;
  justify-content: stretch;
  align-items: center;
  width: 100%;
}

.faq-card-header h3{
  color: var(--color-white);
  font-weight: var(--light);
  font-size:0.8em;
  margin-left:10px;
}

.faq-card-header span{
  color:white;
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 60%;
}

.faq-card p{
  margin:20px 0 0 0;
  line-height: 25px;
  font-size: 1em;
  
}



/* --------------------------------------------------PARTNET WITHS US ASKED QUESTIONS -----------------------------------*/

.partner-container {
  padding:50px 0 100px 0;
  border: 1px solid transparent;
  background-color: var(--color-black);
  margin: 30px 0 0 0;
  border-radius: 4px;
  width: 100%;
}

.partner-container h3 {
  text-align: center;
  color: var(--color-primary);
  font-size: 1.9em;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 60px;
}

.timer {
  height: 1%;
  width: 0%;
 
  left: 0;
  bottom: 0;
  background:var(--color-primaary);
  z-index: 10;
}

.partner-wrapper{
  border: 1px solid transparent;
  width:100%;
  margin:30px auto;
  display: flex;
  background-color: #1B1C1E;
  position: relative;
  /* flex-shrink: 0; */
  /* overflow-x: auto;
  white-space: nowrap; */
  /* position: relative;
      display: flex;
      justify-content: flex-start;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      animation: 2s ease-in-out 0s 1 slideInFromLeft; */
}


/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }

  100%{
    transform: translateX(-100%);
  }
} */

.partner-card {
  background-color: #262626;
  min-width: 300px;
  width:30%;
  border: 1px solid transparent;
  border-radius: 25px;
  margin: 20px;
  height: 150px;
  display: inline-flex;
  padding:10px;
  justify-content: space-between;
  /* flex-shrink: unset; */
  display: none;
}

.partner-first {
  width:30%;
  margin: 0 0 0 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.partner-first img{
  border-radius: 15px;
  height:130px;
  width:100%;
}



.partner-item-content{
  width:60%;
  border: 1px solid transparent;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* margin-top: 30px; */
}

.partner-author{
  display:inline-block;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  border: 1px solid transparent;
  width: 100%;
  /* display: block; */
  /* white-space:pre-wrap; */
}

.partner-author h4{
  color: var(--color-primary); 
  font-family: 'Press Start 2P', cursive;
  
}

.partner-author p{
  margin-top:10px;
  color: white;
  line-height: 25px;
  font-size: 1em;
  text-overflow: ellipsis;
  /* display: block; */
}  



/* ---------------------------CONTACT ME-----------------*/

footer{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
}

footer p a{
  color: white;
  text-decoration: none;
  background-color: var(--color-dark);
  
}

