/* ---------------------------MEDIA QUERY FOR SMALL TABLETS AND MOBILE PHONES-----------------*/
@media screen and (max-width: 900px) {
  header {
    height: 70px;
  }

  header ul {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    height: 100vh;
    background-color: var(--color-black);
    left: -100%;
  }

  header ul li {
    padding: 20px;
    border: 1px solid transparent;
  }
/* 
  header ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
  } */

   
  .logoheaders h1{
    font-size: 1.4em;
    margin-left: 10px;
  }
  
  .logo {
    font-size: 25px;
    letter-spacing: 0;
    margin-left: 20px;
  }

  .logo img{
    width:20px;
    height: 20px;
  }

  .darkmode{
    padding: 10px;
  }

  .darkmode img{
    width:17px;
    height: 17px;
  } 

  .bars {
    display: block;
  }

  .box1 {
    padding:0;
    
  }

  .first-box-container {
    flex-direction: column;
  }

  .first-box {
    width: 100%;
  }

  /* .first-box .button-box{
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
  } */

  .image-box {
    width: 100%;
  }


  .swiper-box {
    flex-wrap: nowrap;
    padding: 10px;
    justify-content: space-around;
    display: none;
  }

  .first-box-container .image-box .swiper-box .swiper-slide img {
    width:100%;
    object-fit: cover;
    padding: 0;
    animation-name: fa-shake;
  }

  /* ---------------------------SECOND BOX-----------------*/

  .second-box-container {
    flex-direction: column;
  }

  .second-box-container .box2 h1{
    font-size:1.5em;
  }


  .second-box {
    margin: 10px;
    width: 100%;
    padding: 30px;
  }

  .author-box {
    width: 100%;

  }

  /* .author-container{
    /* border: 1px solid transparent;
    border-radius: 20px; 
    position: relative;
  } */


  /* ---------------------------TEAM BOX-----------------*/

  .team-container h3 {
    font-size:1.5em;
  }
  

  .team-card {
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
  }


  .team-first {
    width: 100%;

  }

  .team-first img{
    border-radius: 15px;
    object-fit: contain;
  }

  .team-item-content {
    width: 100%;
   
  }

/* ---------------------------FAQ BOX-----------------*/
.faq-container {
  padding:5px;
}

.faq-container h3 {
  font-size: 1.4em;
}

.faq-card-header h3{
  font-size: 1em;
}

  .faq-wrapper{
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 20px;
  }

  .faq-card {
    width:100%;
  }


  /* ------------------------PARTNER WITH US---------------------- */

  .partner-card {
    width:50%;
   
    /* flex-shrink: unset; */
    /* display: none; */
  }


}

@media screen and (max-width:500px) {

  .partner-card {
    width:100%;
   
    /* flex-shrink: unset; */
    /* display: none; */
  }
}