:root {
    --color-dark:#1E1E1E;
    --color-light: #f0eef6;
    --color-gray: #9e98b3;
    /* --color-primary: #EEB00C; */
    --color-primary:#583BAE;
    --color-secondary: #d6ccff;
    --color-danger: #fb5151;
    --color-black: #1B1C1E;
    --color-success: #51fb51;
    --color-white: #ffffff;
    --color-fadewhite: #f8f8f8;
  
    --blue: #007bff;
    --indigo: #3f1288;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #7b59d0;
    --secondary: #f8b195;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #1E1E1E;
  
    --border-radius: 4px;
    --card-border-radius: 5px;
    --btn-padding: 10px 25px;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
  
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
  
    --border-color: #fff;
  
    --font-dmsans: "DM Sans", sans-serif;
    --font-gantari: "Gantari", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-notosans: "Noto Sans", sans-serif;
    --font-nunitosans: "Nunito Sans", sans-serif;
    --font-prompt: "Prompt", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
    --font-rubik: "Rubik Moonrocks", cursive;
    --font-worksans: "Work Sans", sans-serif;
  
    --font-lato: "lato", sans-serif;
    --font-poppins: "poppins", sans-serif;
    --font-ubuntu: "ubuntu", sans-serif;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
  }
  
  body,html{
    color: var(--color-light);
    /* background-color: var(--color-dark); */
    background-color: var(--color-black);
    overflow-x: hidden;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth; 
  }

  button{
    font-family: "Montserrat", sans-serif;
  }

  p{
    margin:20px 0 0 0;
    line-height: 25px;
    font-size: 1em;
    letter-spacing: 0.6px;
  }
  
  /*GENERAL STYLES */
  
  img {
    display: block;
    width: 100%;
  }
  
  .btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: bold;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
  }
  
  /* ----------------------------------------------------------NAVBAR ---------------------------------------*/
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #161718;
    color: var(--color-white);
    position: fixed;
    border: 1px solid transparent;
    height: 90px;
    width: 100%;
    z-index: 150;
    top: 0;
  }

  .logoheaders{
     display: flex;
     align-items: center;
     justify-content:space-between;
     border: 1px solid transparent;
  }

  .logoheaders h1{
    font-size: 1.8em;
    margin-left: 30px;
  }
  
  .logo {
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 50px;
    font-weight: bold;
  }
  
  .bars {
    border: 1px solid transparent;
    padding: 2px 10px;
    display: none;
    font-size: 1.6em;
    color: var(--color-white);
    border-radius: 5px;
    
  }

  .darkmode{
    border: 1px solid transparent;
    padding: 2px 10px;
    font-size:2em;
    color: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-dark);
    padding: 15px;
  }

  .darkmode img{
    width:20px;
    height: 20px;
  }
  
  .closebar {
    border: 1px solid transparent;
    padding: 5px 10px;
    display: none;
    font-size: 2.1em;
  }
  
  span {
    /* color: var(--color-primary); */
    letter-spacing: 0.5px;
  }
  
  header ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
  }
  header ul {
    border: 1px solid transparent;

  }
  
  header ul li a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: bold;
    font-weight: 1.em;
    text-transform: capitalize;
  }
  
  header ul li a.resume_view {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
  }
  
  header ul li a:hover {
    background-color:transparent;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.4s;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
  }
  
  header ul li a.resume_view:hover {
    background-color:transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);

  }
  
  header ul li.btn:hover {
    transform: scale(1.1);
  }
  
  /* ------------------------------------------------------END OF NAVBAR ---------------------------------------*/



  /* --------------------------------------------------BOX 1 FIRST SECTON-----------------------------------*/

.box1 {
  margin-top:90px ;
  padding: 20px 0 100px 0;
  background-color: #1B1C1E;
  border: 1px solid transparent;
  
}

.first-box-container {
  display: flex;
  border: 1px solid transparent;
  margin: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
}

.first-box {
  margin: 50px;
  width: 50%;
  padding: 30px;
  border: 1px solid transparent;
}

.box1 h3 {
  font-size: 1.1em;
  font-weight: bold;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5px;
  border: 1px solid transparent;
  width: 30%;
  padding: 10px 30px;
  border-radius: 30px;
  /* color: white; */
  font-family: "Montserrat", sans-serif;
}

.box1 h2{
  font-size:2em;
  /* color:#EFE9FF; */
  font-family: 'Press Start 2P', cursive;
  color: var(--color-primary);
}  

.first-box p {
  /* color: var(--color-white); */
  font-weight: light;
  text-indent: 5px;
  text-align: justify;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.9px;
  line-height: 25px;
  margin: 5px;
  font-size: 1em;
  
}



/* --------------------------------------------------BOX 2 SECOND SECTION-----------------------------------*/

.box2 {
  padding: 150px 80px 100px 80px;
  /* background-image: url("../images/penguinbg.png");
  background-repeat:space;
   background-blend-mode: darken;
  background-color: rgb(0,0,0 ,.65); */
 /* filter: brightness(50%); */
  background-attachment:scroll;
  display: flex;
  flex-direction: column;
}

.second-box-container {
  display: flex;
  border-top: 5px solid #262626;
  border-right: 5px solid #262626;
  border-bottom: 5px solid #262626;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 350px;
}

.second-box-container-two {
    display: flex;
    border-left: 5px solid #262626;
    border-bottom: 5px solid #262626;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 90%;
  }

  .second-box-container-three {
    display: flex;
    border-right: 5px solid #262626;
    border-bottom: 5px solid #262626;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width:60%;
    /* float: right; */
    margin-left:30%;
  }  

  .second-box-container-four {
    display: flex;
    border-left: 5px solid #262626;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 50%;
    /* float: right; */
    margin-left:30%;
  }  

  .second-box-container-five {
    display: flex;
    border-top: 5px solid #262626;
    align-items: center;
    justify-content: space-between;
    width:10%;
    margin-left:20%;
    /* float: right; */
    
  }  


.second-box {
  margin: 50px;
  width: 100%;
  padding:1px;
  border: 1px solid transparent;
}

.box2 h3 {
  font-size:1.4em;
  font-weight: bold;
  align-items: start;
  text-align: start;
  display: flex;
  justify-content: start;
  border: 1px solid transparent;
  width: 100%;
  border-radius: 30px;
  color: white;
  
}


.second-box li {
    list-style-type: disc;
  color: var(--color-white);
  font-weight: light;
  text-align: justify;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.9px;
  line-height: 25px;
  font-size: 1em;
  margin:20px;
  border: 1px solid transparent;
}


.image-box{
    border: 1px solid transparent;
    width: 50%;
    /* height: 300px; */
    padding:5px;
    position: absolute;
    margin: 100px 0 0 50%;
 }

 .image-boxb{
    border: 1px solid transparent;
    width: 50%;
    height: 300px;
    padding:5px;
    margin: -300px 0 0 -15%;
 }
 
 .swiper-box{
   border: 1px solid transparent;
   display: flex;
   position: relative;
   flex-direction: column;
    justify-content:center;
   align-items: center;
 }
 
.image-box .swiper-box .swiper-slide img {
   margin: 10px;
   width:100%;
   object-fit: contain;
   padding: 0;
   height:400px;
   border: 1px solid transparent;
   animation-name: fa-shake;
 }

 .image-boxb .swiper-box .swiper-slide img {
    margin: 10px;
    width:100%;
    object-fit: contain;
    padding: 0;
    height:400px;
    border: 1px solid transparent;
    animation-name: fa-shake;
  }


.second-box-container img {
  margin: 10px;
  width:100%;
  object-fit: contain;
  padding: 0;
  height:300px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-blend-mode: darken;
  background-color: rgb(0,0,0 ,.65);

}

.perioda{
        background-color:#262626;
        color: white;
        padding: 10px 30px;
        border-radius: 30px;
        transition: 0.4s;
        border:1px solid #262626;
        margin: -135px 0 0 -8%;
        position: absolute;
}

.periodb{
    background-color:#262626;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    transition: 0.4s;
    border:1px solid #262626;
    margin: -135px 0 0 5%;
    position: absolute;
}

.periodc{
    background-color:#262626;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    transition: 0.4s;
    border:1px solid #262626;
    margin: -135px 0 0 80%;
    position: absolute;
}

.periodd{
    background-color:#262626;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    transition: 0.4s;
    border:1px solid #262626;
    margin: -15px 0 0 -8%;
    position: absolute;
}


/* ---------------------------CONTACT ME-----------------*/

footer{
  padding:100px 0 50px 0;
  display: flex;
  align-items: center;
  height: 300px;
  justify-content: center;
  background-color: var(--color-black);
}

footer p a{
  color: white;
  text-decoration: none;
  background-color: var(--color-dark);
  
}


